
.box{   
    box-sizing: border-box;
    height: 100vh;
}
/* ============================================= */
.box_1{
    min-height: 100vh;
}
.gach{
    border-bottom: 0.01em solid black;
    
}
.box_1_1{
    height: 6em;
    text-align: center;
}
.box_1_1_text{
    color: #32323d;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 1em 0 0 1.5em;
}

.box_1_2{
    padding: 2em 0 0.5em 4em;
    transition: all 0.5s;
    text-decoration: none;
    color: black;
}
.box_1_2:hover{
    background-color: black;
    opacity: 0.8;
    color: white;
     text-decoration: none;
}
.box_1_3{
   padding: 1em 0 0.5em 4em;
   margin-top: 15em;
    transition: all 0.5s;
}
.box_1_3:hover{
    background-color: black;
    opacity: 0.4;
    color: white;
}
.box_1_2_text{
    color: #32323d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 1em 0 0 1.5em;
}
.p_auto{
    padding: 0.1em;
}
/* ====================================================== */
.box_2{
    height: 6em;
    background-color: white;
    text-align: left;
}
.box_2_1{
    padding: 1.8em 0 0 4em;
    text-indent: 1em;
}
.box_2_2{
    padding: 1.8em 0 0 0em;
    
}
.box_2_3{
    padding: 1.8em 0 0 2em;  
}
.box_2_3 button{
    width: 12em;
}
.box_2_3 .dropdown-menu{
    width: 12em;
}
.box_2_2 input{
    max-width: 40em;
}
.box_2_4{
    padding: 4em 2em 4em 6em;
}
.box_2_5{
    border: 0.04em solid black;
    border-radius: 1em;
    background-color: white;
    height: 80vh;
}
.box_2_6{
    
    padding: 4em 2em 0 1em;
}
.box_2_7{
    border: 0.04em solid black;
    border-radius: 1em;
    background-color: white;
    height: 60vh;
    text-align: center;
    padding-top: 2em;
}
td img{
    object-fit: cover;
    overflow: hidden;
}
.box-img-background{
    object-fit: cover;
    overflow: hidden;
}

/* ====================================================== */

.col-sm-2{  
    text-align: center;
}

.col-sm-8 #ndht span{
    color: #ccc;
    font-size: 12px;
}
.col-sm-8 #ndht span a{ color: #ccc;}

.col-sm-8 #ndht span a:hover{color: #000}

img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ab ul.whosonline{
    width: 100%;
    
}

.ab ul.whosonline li{
    margin-top:20px; 
    padding: 5px; 
    background: white;
    list-style: none;
    width: 90%;
}


.ab ul.whosonline li a{
    text-decoration: none;
}


.row .ab{
    background: #ccc;
    overflow-y: hidden;
    width: 100%; 
    height: 100%; 
}

.row .ab:hover{ 
    overflow-y: scroll;
}

.col-sm-8 .a{
    width: 103%;
    height: 90%;
    background: white;
    float: left;
}

.col-sm-8 .b{
    float:left;
    width: 103%;
    height: 10%;
    background: gray;
}

.b .type_msg{
    position: relative;
    width:100%;
    height:100%;
    background: white;
    border-top: 2px solid #ccc
}

.write_msg{
    width: 93%;
    height: 100%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: absolute;
    resize: none;
    word-break: break-word;
    border: none;
    outline: none;
    padding: 10px;
}


.msg_send_btn{
    position: absolute;
    width: 5%;
    height: 70%;
    right: 0;
    color: #000;
    font-size: 17px;
    margin: 1% 1% 1% 1%;
    background: #fff;
    border: none;
    display: block;
}

#ndht{
    width: 100%;
    padding: 1%;
}

.admin{
    width: 20%;
    min-height: 5%;
    padding: 1%;
    background: rgb(0, 132, 255);
    word-break: break-word;
    overflow-x: hidden;
    border-radius: 20px;
    margin-left: 80%;
    text-align: right;
    margin-top: 0.5%;
    color: #000;
}

.client{
    width: 20%;
    min-height: 5%;
    padding: 1%;
    background: rgb(0, 132, 255);
    word-break: break-word;
    overflow-x: hidden;
    border-radius: 20px;
    margin-right: 80%;
    text-align: left;
    margin-top: 0.5%;
    color: #000;
}










