body
        {
            background: #fff;
            font-size: 15px;
            margin: 0px;
            word-wrap: break-word;
            overflow: none;
            color: #666;
            line-height: 24px;
        }a{
            text-decoration: none;
            color: #06C
        }a:hover{color: #0CF}
        .nhanvien
        {
            background: #F7F7F7;
            display: inline-block;
            width: 100%; 
            text-align: left;
            /* padding: 1px 2px 8px 5px; */
            border-bottom: 1px #ccc solid;
            color: #333;
            /* margin-bottom: 8px; */
        }
        .nhanvien .img
        {
            float: left;
            width: 64px;
            height: 64px;
            margin: 0px 5px 0px 0px;
        }
        .loichao
        {
            display: inline-block;
            width: 99.7%;
            text-align: left;
            padding: 5px 0px 5px 5px;
            border-bottom: 1px #ccc solid;
        }
        .khach
        {
            line-height: 23px;
            display: inline-block;
            width: 97%;
            text-align: left;
            padding: 2px 2px 4px 5px;
            border-top: 1px #ccc solid;
            color: #333;
        }
        .khach .img
        {
            background: #263f68;
            float: left;
            width: 32px;
            height: 32px;
            margin: 2px 5px 0px 0px;
        }
        .admin
        {
            display: inline-block;
            width: 99.7%;
            text-align: left;
            padding: 5px 0px 5px 5px;
            border-bottom: 1px #ccc solid;
            color: #333;
        }
        .client{
            display: inline-block;
            width: 99.7%;
            text-align: right;
            padding: 5px 5px 5px 0px;
            border-bottom: 1px #ccc solid;
            color: #333;
        }
        .admin .img
        {
            float: right;
            width: 32px;
            height: 32px;
            margin: 2px 0px 0px 5px;
        }
        img
        {
            border: 3px #ccc solid;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        #hopchat
        {
            position: fixed;
            bottom: 0px;
            right: 0px;
            width: 100%;
            text-align: left;
        }
        #ndht span
        {
            color: #ccc;
            font-size: 12px;
        }
        #ndht span a{ color: #ccc;}
        #ndht span a:hover{color: #000}
        .danhan
        {
            border: 0px !important;
            float: none !important;
            width: 11px !important;
            height: 11px !important;
        }
        @media screen and (max-device-width: 480px){body{-webkit-text-size-adjust: none;}} 
        input{border-radius: 5px;}

        .type_msg{
            position: relative;
            width:100%;
            height:100%;
            background: white;
            border-top: 2px solid #ccc
        }
        .write_msg{
            width: 93%;
            height: 100%;
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            position: absolute;
            resize: none;
            word-break: break-word;
            border: none;
            outline: none;
            padding: 10px;
        }
        .msg_send_btn{
            position: absolute;
            width: 5%;
            height: 70%;
            right: 0;
            color: #000;
            font-size: 17px;
            margin: 1% 1% 1% 1%;
            background: #fff;
            border: none;
            display: block;
        }